// Primary Colors
// $background-color: #E8E8E8;
// $secondary-color: #5588A3;
// $primary-color: #145374;
// $accent-color: #00334E;
// Secondary Colors
$info-color: #FFD700;
$error-color: #FF6347;
$success-color: #32CD32;

// _colors.scss

$primary-color: #970747;
$secondary-color: #FEF4E8;
$accent-color: #1989AC;
$dark-color: #283E56;