// _colors.scss
// $background-color: #E8E8E8;
// $secondary-color: #5588A3;
// $primary-color: #145374;
// $accent-color: #00334E;
// Secondary Colors

$info-color: #FFD700;
$error-color: #FF6347;
$success-color: #32CD32;

$maroon-color: #970747;
$white-color: #FEF4E8;
$lightblue-color: #1989AC;
$darkblue-color: #283E56;
$beige-color: #d2b48c;
$navy-color: #00334e