@font-face {
  font-family: 'Poppins';
  src: url('@/styles/fonts/Poppin/Poppins-Regular.woff2') format('woff2'),
    url('@/styles/fonts/Poppin/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.timeline-container {
  position: relative;
}

.timeline {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  background-color: $beige-color;
}

.day-tick {
  position: relative;
  width: auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: $white-color;
  border: 1px solid lightslategrey;

  &.today {
    font-weight: bold;
    color: $maroon-color;
  }
}

.day-label {
  display: grid;
  grid-auto-flow: column;
  width: auto;
}

.event-tick {
  position: absolute;
  height: 30px;
  background-color: blue;
  cursor: pointer;

  &.expanded {
    height: 60px;
    background-color: lightblue;
  }
}

.timeline-view {
  padding: 0;


  .timeline-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: $navy-color;
    border-bottom: 4px solid $beige-color;

    button {
      margin-right: 10px;
      padding: 0.5rem 1rem;
      background-color: #1976d2;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #1565c0;
      }
    }

    input[type='text'] {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .month-year-display {
      font-weight: bold;
      font-size: 2.2rem;
      color: $beige-color;
      font-family: 'Poppins', sans-serif;
      padding: 2px;
      letter-spacing: 4px;
    }
  }
}

/* Collapsed sidebar width */
.sidebar-collapsed .home-view {
  margin-left: 50px;
}

/* Expanded sidebar width */
.app-container:not(.sidebar-collapsed) .home-view {
  margin-left: 150px;
}